.starship-details {
    padding: 6rem 2rem;
    position: relative;
    /* Yeni stil */
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
    min-height: 100vh;
    background:linear-gradient( rgba(2, 2, 2, 0.151),rgba(51, 45, 58, 0.993));
}

.back-btn {
    position: absolute;
    /* Yeni stil */
    left: 0;
    /* Yeni stil */
    top: 3%;
    /* Yeni stil */
    margin-left: 20px;
    margin-bottom: 2.6rem;
    transition: var(--transition);
}

.back-btn:hover {
    color: var(--light-black-color);
}

.back-btn span {
    margin-left: 1rem;
}

.starship-details-content {
    gap: 4rem;
}

.starship-details-img {
    max-height: 600px;
    overflow: hidden;
}

.starship-details-img img {
    margin: 0 auto;
    width: 100%;
    height: 90%;
    border: 3px solid #ccc;
    border-radius: 17px;
    object-fit: fill;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 2);
}
.starship-details-item {
    margin-bottom: 1.4rem;
}


.starship-details-info {
    overflow-y: scroll;
    max-height: 600px;
    padding: 1.4rem;
}

.starship-details-info::-webkit-scrollbar {
    width: 8px;
}

.starship-details-info::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.starship-details-info::-webkit-scrollbar-thumb {
    background-color: var(--purple-color);
    outline: -1px solid slategray;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {

    .starship-details-content {
        background-color: #ccc;
        grid-template-columns: 50% 50%;
        width: 70%;
        gap: 0;
        border: 6px solid transparent;
        border-radius: 17px;
        padding: 16px;
        margin: 0% 20%;
        outline: 4px solid #ccc;
        
        outline-offset: 10px
    }
      
      
      
      
      

    .starship-details-img {
        padding: 0 6rem 0 2rem;
    }

    .starship-details-img img {
        max-width: 100%;
    }
}