.starship, .starship-details{
    padding: 3rem 0;
    background:linear-gradient( rgba(2, 2, 2, 0.151),rgba(51, 45, 58, 0.993));
    min-height: 100vh;
}
.starship-content{
    gap: 3rem;
}
.starship-item{
    padding: 3rem 2rem;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
}
.starship-item:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}
.starship-item-img img{
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.starship-item-info{
    margin-top: 2rem;
}
.starship-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.starship-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.starship-item-info-item:not(.starship-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.starship-item-info-item.publish-year{
    font-size: 14px;
    float: left;
}

.starship-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
  
  .starship-footer button {
    background-color: #1b1a1b;
    color: azure;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.55rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

@media screen and (min-width: 600px){
    .starship-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .starship-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .starship-item-img img{
        max-width: 150px;
    }
}

@media screen and (min-width: 992px){
    .starship-content{
        grid-template-columns: repeat(4, 1fr);
    }
    .starship-item-img img{
        max-width: 100%;
    }
}